/* Color Theme Swatches in Hex */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

$red: #f74554;
$white: #ece8e1;
$darkWhite: #ececec;
$gray: #3b413d;
$black: #0f1923;

$titleFont: "IBM Plex Mono", monospace;
$descFont: "Dancing Script", cursive;
